<div class="languages">
  <!--<img src="icon/vector.png" alt="languages-icon">-->
  <i class="fas fa-globe"></i>
  <ul class="languages__list">
    <li class="languages__item">
      <span class="languages__link">Deutsch</span>
      <ul class="languages__submenu">
        <li class="languages__submenu-item">
          <a class="languages__submenu-link" href="">Uk</a>
        </li>
        <li class="languages__submenu-item">
          <a class="languages__submenu-link" href="">En</a>
        </li>
        <li class="languages__submenu-item">
          <a class="languages__submenu-link" href="">Eu</a>
        </li>
      </ul>
    </li>
  </ul>
  <i class="languages__icon fas fa-chevron-down"></i>
</div>
