<div class="messengers-box">
  <!--<span class="messengers-box__base-icon fab fa-facebook-messenger blind-click"></span>-->
    <img class="messengers-box__base-icon" src="icon/chat.png">          
  <a class="messengers-box__link first" href="">
    <span class="messengers-box__icon fab fa-viber"></span>             
  </a>
                   
  <a class="messengers-box__link second" href="">
    <span class="messengers-box__icon fab fa-telegram-plane"></span> 
  </a>
                    
  <a class="messengers-box__link third" href="">
    <span class="messengers-box__icon fab fa-facebook-messenger"></span>
  </a>
        
  <a class="messengers-box__link fourth" href="">
    <span class="messengers-box__icon fa fa-phone-alt"></span>
  </a>       
</div>
