<header class="header">
  <div class="mobile-layer"></div>
  <div class="container">    
    <div class="header__inner">
      @@include('../components/logo.html', {}) 
      <span class="menu-icon fas fa-bars"></span>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <span class="menu__list-title menu__list-title--active">Konfigurator</span>
          </li>
  
          <li class="menu__list-item">
            <a class="menu__list-link" href="video-archiv.html">
              <span class="menu__list-title">Video-Archiv</span>
            </a>
          </li>
  
          <li class="menu__list-item">
            <a class="menu__list-link" href="contacts.html">
              <span class="menu__list-title">Kontakt</span>
            </a>
          </li>
        </ul>
        
        @@include('../components/languages.html', {}) 
        
      </nav>
    </div>
  </div>
  <hr class="header__line"> 
</header>

  
