<footer class="footer">

  <div class="container">
  
    <div class="footer__content">
              
      <div class="footer-social">                                     
        <a class="footer-social__link" href="">
          <span class="footer-social__icon fab fa-instagram"></span>            
        </a>          
        <a class="footer-social__link" href="">
          <span class="footer-social__icon fab fa-twitter"></span> 
        </a>                  
        <a class="footer-social__link" href="">
          <span class="footer-social__icon fab fa-facebook-f"></span>
        </a>        
      </div> 
      
      <div class="footer__logo">
        <a class="footer__logo-link footer-logo-link" href="index.html">
          <img class="logo-desktop__image" src="logo/logo-mobile.png" alt="logo">
        </a>           
      </div>
                                
    </div><!-- footer__content --> 
      
  </div><!-- container -->      
</footer>
