<header class="header">
  <div class="mobile-layer"></div>
  <div class="container">    
    <div class="header__inner">
      @@include('../components/logo.html', {}) 
      <span class="menu-icon fas fa-bars blind-click"></span>
      <nav class="menu blind-click">
        <ul class="menu__list blind-click">
          <li class="menu__list-item blind-click">
            <a class="menu__list-link" href="configurator.html">
              <span class="menu__list-title blind-click">Konfigurator</span>
            </a>
          </li>
  
          <li class="menu__list-item blind-click">
            <a class="menu__list-link" href="video-archiv.html">
              <span class="menu__list-title blind-click">Video-Archiv</span>
            </a>
          </li>            
  
          <li class="menu__list-item blind-click">
            <a class="menu__list-link" href="contacts.html">
              <span class="menu__list-title blind-click">Kontakt</span>
            </a>
          </li>
          
        </ul>
        
        <div class="languages">
        <!--<img src="../icon/vector.png" alt="languages-icon">-->
        <i class="fas fa-globe blind-click"></i>
        <ul class="languages__list">
          <li class="languages__item">
            <span class="languages__link blind-click">Deutsch</span>
            <ul class="languages__submenu">
              <li class="languages__submenu-item">
                <a class="languages__submenu-link blind-click" href="#">Uk</a>
              </li>
              <li class="languages__submenu-item">
                <a class="languages__submenu-link blind-click" href="#">En</a>
              </li>
              <li class="languages__submenu-item">
                <a class="languages__submenu-link blind-click" href="#">Eu</a>
              </li>
            </ul>
          </li>
        </ul>
        <i class="languages__icon fas fa-chevron-down blind-click"></i>
        </div>


        
      </nav>
    </div>
  </div>
  <hr class="header__line"> 
</header>

  
